/* Pleiades NPC global graphic stylesheet */

/* Draw everything for the box within the box.  duh. */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Graphics-wide body configurations */
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
}

/* Conference Bug CSS */
div.conference-bug {
    width: 180px;
    height: 151px;
    background: rgba(0, 0, 0, 0);
}
#colorLogo, #ghostLogo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}